// src/sass/components/_Footer.scss
@import '../utils/variables';
@import '../utils/mixins';

.footer {
  background-color: $color-black; 
  color: $color-white;
  padding: $spacing-large;
  text-align: center;

  &__logo {
    margin-bottom: $spacing-large;
  }

  &__copyright {
    font-size: $font-size-small;
  }
}

@include mobile {
  .footer {
    height: 209px;
    @include flex-center;
    flex-direction: column;
  }
}