@import '../utils/variables';
@import '../utils/mixins';

.header {
  width: 90%;
  max-width: 1240px; 
  margin: 0 auto;
  padding: $spacing-large;
  background-color: $color-white;
  @include flex-between;

  &__logo {
    color: $color-primary;
    width: 210px; 
    height: 68px;
    flex-shrink: 0; 
  }
  
  &__nav {
    display: flex;
    gap: 57px;

    &-item {
      text-decoration: none;
      color: $color-black;
      font-size: $font-size-large;
      white-space: nowrap; 

      &:hover,
      &.active {
        text-decoration: underline;
      
      }
    }
  }
}

@include mobile {
  .header {
    justify-content: space-around;
    
    &__logo {
      width: 145px;
      height: 46px;
    }
    
    &__nav {
      gap: 26px;
      white-space: nowrap;

      &-item {
        font-size: $font-size-medium;
      }
    }
  }
}