@import '../utils/variables';
@import '../utils/mixins';

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  max-width: $breakpoint-tablet;
  margin: 0 auto;
  padding: $spacing-large;
  width: 90%;
}

@include mobile {
  .main-content {
    padding: $spacing-small;
  }
}